[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/admin]
row=0
col=0

[/home/admin/desktop/firefox.desktop]
row=1
col=0

[/home/admin/desktop/vendabemmenu.desktop]
row=2
col=0

[/home/admin/desktop/xfce4-terminal.desktop]
row=3
col=0

[/home/admin/desktop/com.teamviewer.TeamViewer.desktop]
row=4
col=0

[/home/admin/desktop/skypeforlinux.desktop]
row=5
col=0

[Lixeira]
row=6
col=0