[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=superkey
Comment=
Exec=/usr/bin/ksuperkey -d
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

