[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[d2483d04-cbf3-47d2-accd-76a256bd14d4]
row=0
col=0

[6D65116E4D68FCEF]
row=1
col=0

[B60C53B30C536D7D]
row=2
col=0

[Lixeira]
row=3
col=0

[/]
row=4
col=0

[/home/everton]
row=5
col=0

